<div data-role="page" id="events-index-page">
  <div data-role="header">
    <h1><%= @event.title %></h1>
  </div>

  <div data-role="content">
    <p><%= @event.from_time %> - <%= @event.to_time %></p>
    <p><%= @event.location %></p>
    <% @event.summary.split("\n").each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</div>
