<div data-role="page" id="events-index-page">
  <div data-role="header">
    <h1><%= @event.title %></h1>
  </div>

  <div data-role="content">
    <a data-role="button" href="<%= event_path(@event, format: :ics) %>" class="ui-link ui-btn" rel="external" role="button">Download iOS event</a>
    <p><%= @event.from_time %> - <%= @event.to_time %></p>
    <p><%= @event.location %></p>
    <p><%= @event.types.map { |t| t.title }.join(" / ") %></p>
    <% @event.summary.split("\n").each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</div>
